@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a192f;
  /* BIRU TUA solid */
  color: #ffffff;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  background-color: #ffffff;
  color: #0a192f;
  padding: 30px;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  font-weight: 600;
  color: #0a192f;
  margin-bottom: 25px;
}

label {
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
  color: #0a192f;
}

.form-control {
  border-radius: 8px;
  padding: 10px 14px;
  margin-bottom: 18px;
  border: 1px solid #091a79;
  font-size: 14px;
}

.form-control:focus {
  border-color: #1d3557;
  outline: none;
  box-shadow: 0 0 0 3px rgba(29, 53, 87, 0.2);
}

.btn-primary {
  background-color: #1d3557;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  width: 48%;
}

.btn-primary:hover {
  background-color: #16324f;
}

.btn-secondary {
  background-color: #6c757d;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  width: 48%;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
